<!DOCTYPE html>
<html>
<head>
  <title>Chicago Charity Vote 2012</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 40px">
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <script>
    $(function() {
      $('#vote-form a').click(function() {
        $('#vote-value').val($(this).attr("charityid"))
        $('#vote-form').submit();
        return false;
      })});
  </script>

  <% unless flash[:notice].blank? %>
    <div class="alert">
      <%= content_tag :div, flash[:notice] %>
    </div>
  <% end %>

  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <div class="span12">
          <h3><center><img style="padding-bottom: 20px" class="displayed" src="/ChicagoCharityVote.png" /></center></h3>
        </div>
         <div class="row"> <center>
            <div class="span12"> <a href="/about"> <img src="/about.jpg" /></a>
         <a href="/contact"> <img src="contact.jpg" /></a>
         <a href="/faq"> <img src="/faq.jpg" /></a>
       </div>
       </center>
   </div>
    </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
        <%= yield %>
    </div>
   </div>
   <div class="container">
     <center>
       <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="chicagocharityvote@chicagobooth.edu">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Chicago Charity Vote">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
<input type="image" src="/donate.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="/donate.jpg" width="2" height="2">
</form>
   </center>   
    <div class="span12"> <center>
      <div class="fb-like" data-href="http://www.chicagocharityvote.com" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
    </div>
    </div>
  </div>
 </div>
 </body>
</html>
