<!DOCTYPE html>
<html>
<head>
  <title>Chicago Charity Vote 2012</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body >
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <script>
    $(function() {
      $('#vote-form a').click(function() {
        $('#vote-value').val($(this).attr("charityid"))
        $('#vote-form').submit();
        return false;
      })});

  </script>

  <script>
    $('.tabs').button()
  </script>

  <% unless flash[:notice].blank? %>
    <div id="flash" class="alert" style="margin 0; width: 100%; background-color: #38D; color: white; border-bottom: 1px solid black;">
      <%= content_tag :div, flash[:notice] %>
    </div>
  <% end %>

  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">

<div class="row span12">
        <div class="span4" align="left" style="margin:5px 0px 0px 0px">
          <style type="text/css">#fx_convert_1 br {display:none;}</style>
          <div style="width:190px;text-align:center;" id="fx_convert_1">
          <div id="xcolorc1_1" style="border:1px solid #000;background-color:#3891E0;padding: 0px 0px;margin: 0px 0px;align:center;overflow:hidden;">
          <div id="xcolorc1_2" style="font-size:12px;color:#183a00;line-height:16px;font-family: arial; font-weight:bold;background:#3891E0;padding: 3px 1px;text-align:center;">
          <a href="/welcome" alt="Don't forget to donate!" title="Don't forget to donate!" id="xcount_link1" style="color:#FFFFFF;font-size:14px;text-decoration:none;line-height:16px;font-family: arial;" >Time Left to Vote</a>
            </div>
          <div id="xcount1_1660436793" style="font-size: 1em;font-family: arial; font-weight:bold"></div>
          <script src="http://www.freecountdown.net/z.php?text=&t=1&fd=2012-02-15&dir=down&id=1_1660436793&fc=FFFFFF"></script>
            </div>
            </div>         
          </div>

        <div class="span4" align="center" style="margin:0px 10px">
          <img style="width: 430px" src="/booth.png">
        </div>

        <div class="span4" align="right" style="margin-right:-9px">       
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
         <input type="hidden" name="cmd" value="_donations">
         <input type="hidden" name="business" value="chicagocharityvote@chicagobooth.edu">
         <input type="hidden" name="lc" value="US">
         <input type="hidden" name="item_name" value="Chicago Charity Vote">
         <input type="hidden" name="no_note" value="0">
         <input type="hidden" name="currency_code" value="USD">
         <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
         <input type="image" src="/donate1.jpeg" border="0" style="height:65%; width:65%" name="submit" alt="PayPal - The safer, easier way to pay online!">
         <img alt="" border="0" src="/donate1.jpeg" width="2" height="2">
           </form>
        </div>

</div>

         <div class="span12">
          <%= link_to(:controller => :welcome, :action => :index) do %>
            <h3><center><img style="padding: 0px 0 20px 0; margin: -45px 0 0 0" width="100%" class="displayed" src="/ChicagoCharityVote.png" /></center></h3>
          <% end %>
        </div>

<div align="center" style="margin:-5px 0px 0px 0px" class="span12">
        <a href="/about"> <img src="/about.jpg"> </a>
        <a href="/contact"> <img src="/contact.jpg"></a>
        <a href="/faq"> <img src="/faq.jpg"></a>
</div>

         

    </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
        <%= yield %>
    </div>
   </div>
   <div class="container">
     <center>
       <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="chicagocharityvote@chicagobooth.edu">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Chicago Charity Vote">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
<input type="image" src="/donate.jpeg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="/donate.jpeg" width="2" height="2">
</form>
   </center>   
    <div class="offset5"> <center>
     <div class="fb-like" data-href="http://www.chicagocharityvote.org" data-send="false" data-layout="button_count" data-width="1250" data-show-faces="true"></div>
    </div>
<div> <center>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.chicagocharityvote.org" data-size="large" data-hashtags="chicagocharityvote">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
 </div>
  </div>
 </div>
 </body>
</html>
