<!DOCTYPE html>
<html>
<head>
  <title>Chicago Charity Vote 2012</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <div class="span6 offset3">
          <h3><%= link_to "Chicago Charity Vote", "/" %></h3>
        </div>
        <ul class="nav">
          <li><%= link_to "About", "/about"  %></li>
          <li><%= link_to "Contact", "/contact"  %></li>
          <li><%= link_to "FAQ", "/faq"  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
        <%= yield %>
    </div>
   </div>
  </div>
 </body>
</html>
